{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/movies.css') }}">


<div class="header">
    <span class="badge">{{ movies|length }}</span>
    <h1>movies</h1>
</div>

{% for movie in movies %}
<div class="movie-card">
    <img src="{{ movie.cover }}" alt="{{ movie.title }}"
         onerror="this.onerror=null; this.src='https://placehold.co/130x190?text=No+Image';">
    <div class="movie-info">
        <h2>{{ movie.title }}</h2>
        <p>{{ movie.extract }}</p>
        <p>{{ movie.year }}</p>
        <p>{{ movie.genres }}</p>
        <a href="https://www.google.fr/search?q={{ movie.title | urlencode }}" target="_blank" class="btn">
            Search
        </a>
    </div>
</div>
{% endfor %}
{% endblock %}